---
layout: default
title: Panda_2134's Blog
---

<script type="text/javascript" async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<style>
.sidebar{
  float: right;
  color: #ffffff;
  width: 100px;
}
.main{
  width: 790px;
}
</style>
<div class="sidebar">
    <div>
      <div style="color:#159957">Categories:</div>
      {% for category in site.categories %}
      <a href="/showCategory.html?cat={{ category | first }}"<h2>{{ category | first }}</h2></a> &#40;{{ category | last | size }}&#41;
      <br/>
      {% endfor %}
    </div>
    <hr/>
    <div>
      <div style="color:#159957">Tags:</div>
      {% for tag in site.tags %}
      <a href="/showTags.html?tag={{ tags | first }}"<h2>{{ tags | first }}</h2></a> &#40;{{ tags | last | size }}&#41;W
      <br/>
      {% endfor %}
    </div>
    <hr/>
    <div>
      <div style="color:#159957">神犇们:</div>
      <a href="https://chrt.github.io">chrt</a>
      <br/>
    </div>
</div>
<div class="main">
  <h1>Recent Blogs</h1>
  <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}"><h2>{{ post.title }}</h2> </a>
        {{post.excerpt}}
      </li>
      {% endfor %}
    </ul>
</div>
