---
layout: default
title: Panda_2134's Blog
---

<script type="text/javascript" async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<style>
    ul {
      list-style:square;
    }
@media screen and (min-width: 800px) {
    .sidebar{
		display: block;
  		float: right;
  		width: 150px;
	  };
	  .mainpg{
		margin: 4rem;
  		width: 790px;
	  }
    .mainpg-wrap{
	  width: 800px;
      margin: 50px ;
	  float: left;
    }
}
@media screen and (max-width: 800px){
    .sidebar{
      display: inline;
      width: 23.33%
    }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #777;
  text-shadow: 0 1px #fff;
  background: #ddd;
  -webkit-box-shadow: 0 -1px 4px #ccc inset;
  box-shadow: 0 -1px 4px #ccc inset;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 3px;
}

.article-inner{
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}
</style>
<div class="sidebar">
    <div class="widget-wrap">
      <div class="widget">
      <div style="color:#159957">Categories:</div>
        {% for category in site.categories %}
        <a href="/showCategory.html?cat={{ category | first }}">{{ category | first }}</a> &#40;{{ category | last | size }}&#41;
        <br/>
        {% endfor %}
      </div>
    </div>
    <div class="widget-wrap">
      <div class="widget">
        <div style="color:#159957">Tags:</div>
        {% for mtag in site.tags %}
        <a href="/showTags.html?tag={{ mtag | first }}">{{ mtag | first }}</a> &#40;{{ mtag | last | size }}&#41;
        <br/>
        {% endfor %}
        </div>
    </div>
    <div class="widget-wrap">
      <div class="widget">
      <div style="color:#159957">神犇们:</div>
      <a href="https://chrt.github.io">chrt</a>
      <br/>
      </div>
    </div>
</div>
<div class="mainpg-wrap">
  <div class="mainpg">
    <h3><b style="color:#000000">Recent Blogs</b></h3>
    <ul>
      {% for post in site.posts %}
      <li>
        <div class="article-inner">
        <a href="{{ post.url }}" style="color:#154;"> <h1>{{ post.title }}</h1> </a>
        {{post.excerpt}}
        <a href="{{ post.url }}" style="color:#fff;"> Read More... </a>
        </div>
        <hr/>
      </li>
      {% endfor %}
    </ul>
    <hr/>
  </div>
</div>
