---
layout: default
---
<p>
  <a href="/"> &lt;&lt; Back to Index </a>
</p>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous">
</script>
<script src='{{ "/js/jQuery.query.js" | absolute_url }}'></script>

<div id="l">
  Loading...
</div>

<script>
  var dataStr = ' { {% for tag in site.tags %} {% if tag[0] != site.tags.first[0] %},{% endif %}"{{ tag[0] }}":[{% for post in tag[1] %}{% if post != tag[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}","date":"{{post.date | date:"%Y/%m/%d"}}"}{% endfor %}]{% endfor %} }';
  var data = JSON.parse(dataStr),
  curTag = $.query.get("tag"),
  archieves = data[curTag];
  var ret='';
  document.getElementById('l').innerHTML='<h2>Articles in Tag "'.concat(curTag).concat('"</h2>');
  for(var i=0;i<archieves.length;i++){
    ret="".concat('<a href="').concat(archieves[i].url).concat('"><h3>').concat(archieves[i].date).concat(' - ').concat(archieves[i].title).concat('</h3></a>');
    document.getElementById('l').innerHTML=document.getElementById('l').innerHTML.concat(ret);
  }
</script>
