{% if page.comments %}
    {% if site.netease_comment %}
    <!-- 网易云跟帖JS代码 start -->
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
    <script>
      var cloudTieConfig = {
        url: document.location.href, 
        sourceId: "",
        productKey: "de25fc98a6fe48b3bc8a7ae765da99a0",
        target: "cloud-tie-wrapper"
      };
      var yunManualLoad = true;
      Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
    </script>
    <!-- 网易云跟帖JS代码 end -->
    <!-- 网易云跟帖 评论框 start -->
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <!-- 网易云跟帖 评论框 end -->
    {% endif %}

    {% if site.disqus_username %}
    <!-- disqus 评论框 start -->
    <div class="comment">
        <div id="disqus_thread" class="disqus-thread">

        </div>
    </div>
    <!-- disqus 评论框 end -->

    <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "{{site.disqus_username}}";
        var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
        var disqus_url = "{{site.url}}{{page.url}}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <!-- disqus 公共JS代码 end -->
    {% endif %}

    {% if site.gitment_username %}
    <!-- gitment 评论框+js start -->
    <div id="gitment-comment" class="comment"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
         id: '{{page.id}}',
         owner: '{{site.gitment_username}}',
         repo: '{{site.gitment_repo}}',
         oauth: {
           client_id: '{{site.gitment_client_id}}',
           client_secret: '{{site.gitment_client_secret}}',
         },
        });
        gitment.render('gitment-comment');
    </script>
    <!-- gitment 评论框+js end -->
    {% endif %}
    <!-- Valine 评论框+js start-->
    <style>
        .v .vlist .vcard .vcontent .veditor .vinput{
            font-size: 1.5rem !important;
        }
        .valine img {
            display: inline;
        }
    </style>
    {% if site.valine_app_id %}
    <div class="comment"></div>
    <!--Leancloud 操作库:-->
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库:-->
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/Valine.min.js"></script>
    <script>
        new Valine({
            av: AV, 
            el: '.comment', // 
            smiles_url: '/img/valine-smiles',
            app_id: '{{ site.valine_app_id }}', 
            app_key: '{{ site.valine_app_key }}', 
            placeholder: '',
            notify: false,
            verify: false
        });
    </script>
    {% endif %}
    <!-- Valine 评论框+js end-->
    <noscript>Please enable JavaScript to view the comments.</noscript>
{% else %}
    <h5 class="subheading">Comments are not enabled on this thread.</h3>
{% endif %}
