<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    },
    "HTML-CSS": {
    	showMathMenu: false
	},
    showProcessingMessages: false,
    messageStyle: "none"
  });
</script>
<script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.3/latest.js?config=TeX-MML-AM_CHTML"></script>
<style type="text/css">
	.MathJax{outline:0;}
</style>