<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true
    },
    "HTML-CSS": {
    	showMathMenu: false
	},
    showProcessingMessages: false,
    messageStyle: "none"
  });
</script>
<script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.3/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
<style type="text/css">
	.MathJax{outline:0;}
</style>
<!-- KaTeX
<link rel="stylesheet" href="https://cdn.bootcss.com/KaTeX/0.9.0/katex.min.css">
<script src="https://cdn.bootcss.com/KaTeX/0.9.0/katex.min.js"></script>
<script src="https://cdn.bootcss.com/KaTeX/0.9.0/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body,
      	{
      		delimiters: [
 				{left: "$$", right: "$$", display: true},
  				{left: "$", right: "$", display: false}
			]
      	}
      );
    });
</script>
-->
