<!DOCTYPE html>
<html>
　　<head>
	　	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　	　　<title>{{ page.title }}</title>
		<style type="text/css">  
            .sidebar{  
                float: right;
                width: 200px;  
            }  
              
        </style>  
　　</head>
　　<body>
		
		<div class="sidebar">
			<h4>Categories:</h4>
			<ul>
    			{% for category in site.categories %}
    			<li><a href="/categories/{{ category | first }}/" title="view all posts">
    			{{ category | first }} {{ category | last | size }}</a>
    			</li>
   				{% endfor %}
			</ul>
		</div>
　　　	{{ content }}
　　</body>
</html>