---
layout: default
---

<script type="text/javascript" async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>



<p>
	<a href="/"> << Back to Index </a>
</p>

<h2>{{page.title}}</h2>
<div id="post">

	<span style="color:#159957">In Categories:</span>
	{% if page.categories.size > 0 %}
    	<span>{{ page.categories | array_to_sentence_string :'' }}</span>
    {% else %}
    	<span>None</span>
    {% endif %}

    <br/>

    <span style="color:#159957">In Tags:</span>
    {% if page.tags.size > 0 %}
    	<span>{{ page.tags | array_to_sentence_string :'' }}</span>
    {% else %}
		<span>None</span>
    {% endif %}
	<p>
    	{{ content }}
	</p>
</div>
<div id="related">
    <h3>Related Posts:</h3>
    <ul class="posts" style="margin:0px; padding:0px;">
        {% for post in site.related_posts limit:3 %}
    		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
  	  	{% endfor %}
    </ul>
</div>
<div id="comment">
     {% if page.comments %}
	<h3>Comments:</h3>
<div id="comm1"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{page.id}}',
  owner: 'panda2134',
  repo: 'panda2134.github.io',
  oauth: {
    client_id: '9107291a3086ed30c48f',
    client_secret: 'aaa7ae9353eca07778c747e5641ffa81c5c24e8d',
  },
});
gitment.render('comm1');
</script>
	<noscript>Please enable JavaScript to view the comments.</noscript>
	{% else %}
	<h3>Comments are not enabled on this thread.</h3>
{% endif %}
</div>
