---
layout: default
---
<p>
	<a href="/"> << Back to Index </a>
</p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<h2>{{page.title}}</h2>
<div id="post">
    <span style="color:#159957">Categories:</span><span>{{ page.categories | array_to_sentence_string :'' }}</span>
		<p>
    	{{ content }}
		</p>
</div>
<div id="related">
    {% for post in site.related_posts %}
    	<h3>Related Posts:</h3>
        <ul class="posts">
   			{% for post in site.related_posts limit:3 %}
    		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
  	  		{% endfor %}
        </ul>
    {% endfor %}
</div>
<div id="comment">
     {% if page.comments %}
	<h3>Comments:</h3>
<div id="comm"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'panda2134',
  repo: 'panda2134.github.io',
  oauth: {
    client_id: '9107291a3086ed30c48f',
    client_secret: '    45d0df6bd97e175785e267c0bf073e134204c6d2',
  },
});
gitment.render('comm');
</script>
	<noscript>Please enable JavaScript to view the comments.</noscript>
	{% else %}
	<h3>Comments are not enabled on this thread.</h3>
{% endif %}
</div>
