---
layout: default
---
<p>
	<a href="/"> << Back to Index </a>
</p>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
<div id="post">
    <h3>Categories:</h3>
    {% for cate in page.categories %}
    	{{ cate }} &nbsp;
    {% endfor %}
    {{ content }}
</div>
<div id="related">
    {% for post in site.related_posts %}
    	<h3>Recent Posts:</h3>
        <ul class="posts">
   			{% for post in site.related_posts limit:3 %}
    		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
  	  		{% endfor %}
        </ul>
    {% endfor %}
</div>
<div id="comment">
     {% if page.comments %}
	<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = {{page.url}};  
this.page.identifier = {{page.id}};
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://panda2134.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
     {% endif %}
</div>
